*{
  margin: 0px;
  text-align: center;
  place-items: center;
  place-content: center;
}
.App{
  background-color: pink;
  height: 100vh;
  padding-top: 20px;
  border: 4px red dotted;
}
.heading{
  color: blue;
}
.err{
  color: white;
  background-color: red;
  padding: 10px;
  margin: 4rem;
  font-size: larger;
  font-weight: 700;
}
input{
  padding: 10px;
}
.App >div{
  padding-top: 20px;
}
.name{
  font-size: larger;
}
.name >span{
  font-weight: 700;
}